<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <a href="/" class="navbar-brand mr-auto">Home</a>
    <div *ngIf="!isLogged">
      <a href="/login" class="navbar-brand">Login</a>
      <a href="/register" class="navbar-brand">Register</a>
    </div>
    <div *ngIf="isLogged">
      <a href="#" class="navbar-brand" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
