<table class="table">
  <tr>
    <th>Id</th>
    <td>{{project.id}}</td>
  </tr>
   <tr>
    <th>Name</th>
    <td>{{project.name}}</td>
  </tr>
   <tr>
    <th>Description</th>
    <td>{{project.description}}</td>
  </tr>
   <tr>
    <th>Creator</th>
     <table class="table">
        <tr>
          <th>Id</th>
          <td>{{project.creator.id}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{project.creator.name}}</td>
        </tr>
        <tr>
          <th>Role</th>
          <td>{{project.creator.role}}</td>
        </tr>
        <tr>
          <td colspan="2">
            <img src="{{project.creator.picture}}" alt="" />
          </td>
        </tr>

     </table>
  </tr>

</table>
